.component--table{
  width: 100%;
  overflow: scroll;
  
  table{
    width: 540px;

    @include breakpoint(sm){
      width: 100%;
    }

    thead{
      tr{
        th{
          color: #BDBDBD;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
          padding: 15px 25px;
        }
      }
    }

    tbody{
      border-radius: 4px;
      background: #FFFFFF;
      box-shadow: 0 0 5px 0 rgba(0,60,130,0.08);

      tr{
        border-top: 2px solid #E8F0FA;

        &:first-child{
          border: 0;

          td:first-child { border-top-left-radius: 4px; }
          td:last-child { border-top-right-radius: 4px; }
        }

        &:last-child{
          td:first-child { border-bottom-left-radius: 4px; }
          td:last-child { border-bottom-right-radius: 4px; }
        }

        &:nth-child(2n){
          background: #F9FCFF;
        }

        td:first-child{
          width: 5%;
        }

        td:nth-child(2){
          width: 65%;
        }

        td{
          padding: 15px 25px;
          color: #757575;
        }

        .action{
          a{
            font-size: 17px;
            margin-right: 8px;

            &:before{
              display: none;
            }

            .icon-pencil{
              color: #003C82;
            }

            .icon-trash{
              color: #DA3A3A;
            }
          }
        }
      }
    }
  }
}
